# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Variables locales futuras
.env
.env.*
!.env.example

# Logs
*.log

# Dependencias y builds futuros
node_modules/
dist/

# Archivos externos
../PWA-Concepts.txt
../SYNER-FIRST-DEPLOY.docx
../NOTES.txt
../SYNER-ARQUITECTURA.docx
../TIPOS-APLICACIONES-WEB.docx
../docs/